 *{
	  margin: 0;
	  padding: 0;
      font-family:sans-serif;
	  background: rgb(1, 5, 35);
  }
  .container
  {
	   width: 100%;
	   height: 100%;
	  // background-image: url(img/background.png);
	  // background-size: contain;
	  // background-position: center;
	  // position: relative;
	  // overflow: visible;
	  
  }  
  .intro
  {
	  color: white;
	  font-size: 30px;
	  padding-top: 150px; 
	  padding-left: 100px;
  }
  .MyName
  {
	  color: white;
	  font-size: 50px;
	  padding-top: 60px;
	  padding-left: 100px;
	  text-decoration: none;
  }
   .circularimg 
  {
	  border-radius: 50%;
	  position: absolute;
	  top: 100px;
	  right: 100px;
  }
	  
    .para
  {
	  color: white;
	 position: absolute;
	 padding-left: 100px;
  }