 *{
	  margin: 0;
	  padding: 0;
      font-family:sans-serif;
	  background: rgb(1, 5, 35);
  }
  .container
  {
	   width: 100%;
	   height: 100%;
	  // background-image: url(img/background.png);
	  // background-size: contain;
	  // background-position: center;
	  // position: relative;
	  // overflow: visible;
	  
  }  
  .intro
  {
	  color: white;
	  font-size: 30px;
	  padding-top: 100px; 
	  padding-left: 100px;
  }
  .MyName1
  {
	  color: white;
	  font-size: 60px;
	  padding-top: 50px;
	  padding-left: 100px;
  }
  .MyName2
  {
	  color: white;
	  font-size: 65px;
	  padding-top: 50px;
	  padding-left: 100px;
  }
  .connectme
  {
	  color: white;
	  font-size: 40px;  
	  padding-top: 100px;
  }
   .circularimg 
  {
	  border-radius: 50%;
	  position: absolute;
	  top: 100px;
	  right: 100px;
  }
	  
    .para
  {
	 color: white;
	 font-size: 26px; 
	 position: absolute;
	 padding-left: 100px;
  }
   .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 20px 2px;
    border-radius: 50%;
}
.fa:hover 
 {
    opacity: 0.7;
	
	
 }

.fa-facebook 
 {
  background: #3B5998;
  color: white;
 }

.fa-twitter 
 {
  background: #55ACEE;
  color: white;
 }

.fa-linkedin 
 {
  background: #007bb5;
  color: white;
 }

.fa-youtube 
 {
  background: #bb0000;
  color: white;
 }